.column {
  float: left;
  width: 33.3%;
  padding: 10px 10px;
}
.card {
  box-shadow: 12px 12px 2px 1px rgb(17, 12, 28);
  text-align: center;
  background-color: #17e8e8;
}
div.card {
  padding: 10px;
}
.image-list-user {
  width: auto;
  height: 200px;
  border-radius: 8%;
}
