<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="card w-100">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Tên bài hát</th>
                    <th>Mô tả</th>
                    <th>File nhạc</th>
                    <th>Ca sĩ</th>
                    <th>Nhạc sĩ</th>
                    <th>Lượt xem</th>
                    <th>Lượt thích</th>
                    <th>Ảnh đại diện</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let song of songs">
                    <td>{{song.name}}</td>
                    <td>{{song.description}}</td>
                    <td><audio controls><source [src]="song.file"></audio></td>
                    <td *ngFor="let singer of song.singers">{{singer.name}}</td>
                    <td>{{song.musician}}</td>
                    <td>{{song.count}}</td>
                    <td>{{song.countLike}}</td>
                    <td><img class="imageListSong" [src]="song.avatar" alt=""></td>
                    <td> <button mat-icon-button color="primary" [routerLink]="['/update-song/', song.id]">
                        <mat-icon color="primary">edit</mat-icon>
                    </button></td>
                    <button (click)="openDialog(song.id)" mat-icon-button color="primary">
                        <mat-icon color="primary">delete</mat-icon>
                    </button>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[3,15,30,90]" [length]="totalElements" (page)="nextPage($event)"></mat-paginator>
