<nav class="docs-navbar-header" aria-label="Top Toolbar">
    <div *ngIf="!checkLogin" class="ms_loader">
        <div class="wrap">
            <img src="assets/images/loader.gif" alt="">
        </div>
    </div>
    <!----Main Wrapper Start---->
    <!--  <div class="ms_main_wrapper">-->
    <!---Side Menu Start--->
    <div class="ms_sidemenu_wrapper">
        <div class="ms_nav_close">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="ms_sidemenu_inner">
            <div class="ms_logo_inner">
                <div class="ms_logo">
                    <a *ngIf="checkAdmin" routerLink="admin-account"><img src="assets/images/-Sieu-pham-3D-ve-Chu-Meo-Di-Hia-0.jpg" alt="" class="logo-meo"/></a>
                    <a *ngIf="!checkAdmin"><img src="assets/images/-Sieu-pham-3D-ve-Chu-Meo-Di-Hia-0.jpg" alt="" class="logo-meo"/></a>
                </div>
                <div class="ms_logo_open">
                    <a href="index.html"><img src="assets/images/-Sieu-pham-3D-ve-Chu-Meo-Di-Hia-0.jpg" alt="" class="logo-meo"/></a>
                </div>
            </div>
            <div class="ms_nav_wrapper" *ngIf="!checkAdmin">
                <ul>
                    <li><a href="index.html" class="active" title="Discover">
						<span class="nav_icon">
							<span class="icon icon_discover"></span>
						</span>
                        <span class="nav_text">
							discover
						</span>
                    </a>
                    </li>
                    <li><a href="album.html" title="Albums">
						<span class="nav_icon">
							<span class="icon icon_albums"></span>
						</span>
                        <span class="nav_text">
							albums
						</span>
                    </a>
                    </li>
                    <li><a href="artist.html" title="Artists">
						<span class="nav_icon">
							<span class="icon icon_artists"></span>
						</span>
                        <span class="nav_text">
							artists
						</span>
                    </a>
                    </li>
                    <li><a href="genres.html" title="Genres">
						<span class="nav_icon">
							<span class="icon icon_genres"></span>
						</span>
                        <span class="nav_text">
							genres
						</span>
                    </a>
                    </li>
                    <li><a href="top_track.html" title="Top Tracks">
						<span class="nav_icon">
							<span class="icon icon_tracks"></span>
						</span>
                        <span class="nav_text">
							top tracks
						</span>
                    </a>
                    </li>
                    <li><a href="free_music.html" title="Free Music">
						<span class="nav_icon">
							<span class="icon icon_music"></span>
						</span>
                        <span class="nav_text">
							free music
						</span>
                    </a>
                    </li>
                    <li><a href="stations.html" title="Stations">
						<span class="nav_icon">
							<span class="icon icon_station"></span>
						</span>
                        <span class="nav_text">
							stations
						</span>
                    </a>
                    </li>
                </ul>
                <ul class="nav_downloads">
                    <li><a href="download.html" title="Downloads">
						<span class="nav_icon">
							<span class="icon icon_download"></span>
						</span>
                        <span class="nav_text">
							downloads
						</span>
                    </a>
                    </li>
                    <li><a href="purchase.html" title="Purchased">
						<span class="nav_icon">
							<span class="icon icon_purchased"></span>
						</span>
                        <span class="nav_text">
							purchased
						</span>
                    </a>
                    </li>
                    <li><a href="favourite.html" title="Favourites">
						<span class="nav_icon">
							<span class="icon icon_favourite"></span>
						</span>
                        <span class="nav_text">
							favourites
						</span>
                    </a>
                    </li>
                    <li><a href="history.html" title="History">
						<span class="nav_icon">
							<span class="icon icon_history"></span>
						</span>
                        <span class="nav_text">
							history
						</span>
                    </a>
                    </li>
                </ul>
                <ul class="nav_playlist">
                    <li><a href="feature_playlist.html" title="Featured Playlist">
						<span class="nav_icon">
							<span class="icon icon_fe_playlist"></span>
						</span>
                        <span class="nav_text">
							featured playlist
						</span>
                    </a>
                    </li>
                    <li><a href="add_playlist.html" title="Create Playlist">
						<span class="nav_icon">
							<span class="icon icon_c_playlist"></span>
						</span>
                        <span class="nav_text">
							create playlist
						</span>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!---Main Content Start--->
    <div class="ms_content_wrapper padder_top80">
        <!---Header--->
        <div class="ms_header">
            <div class="ms_top_left">
                <div class="ms_top_search">
                    <form  class="newsletter-form" data-toggle="validator" #f="ngForm" (ngSubmit)="ngSubmit(f)" novalidate >
                    <input type="search" name="searchKey" ngModel class="form-control" placeholder="Tìm bài hát..."
                           required="" autocomplete="off">
                        <button class="box-btn" type="submit">Tìm Kiếm</button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>


                </div>

                <div class="ms_top_trend">
                    <a routerLink="create-song-user" *ngIf="checkUser">
                        <button mat-button>Thêm mới bài hát</button>
                    </a>
                    <a routerLink="user-list" *ngIf="checkUser">
                        <button mat-button>Danh sách các bài hát</button>
                    </a>
                    <a routerLink="home-playlist" *ngIf="checkUser">
                        <button mat-button>Album </button>
                    </a>
                    <a *ngIf="checkAdmin"  routerLink="create-song" class="ms_btn login_btn"><span>Thêm bài hát</span></a>
                    <a *ngIf="checkAdmin"  routerLink="create-singer" class="ms_btn login_btn"><span>Thêm ca sĩ</span></a>
                </div>
                <div class="ms_top_trend">

                </div>
            </div>
            <div class="ms_top_right">
                <div class="ms_top_lang">
                    <a *ngIf="checkLogin" (click)="Logout()" class="ms_btn login_btn"><span>Thoát</span></a>
                </div>
                <div class="ms_top_btn">
                    <a *ngIf="!checkLogin" routerLink="register"  class="ms_btn reg_btn"><span>Đăng kí</span></a>
                    <a *ngIf="!checkLogin" routerLink="login" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>Đăng nhập</span></a>
                    <a *ngIf="checkLogin"  mat-button class="docs-button"> <img routerLink="change-avatar" class="avatar" [src]="avatar" alt=""></a>
                    <a *ngIf="checkLogin" routerLink="change-manage" mat-button><span>{{name}}</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>
