<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <mat-card-title align="center" class="alert alert-primary">ADMIN MANAGE</mat-card-title>
                <mat-tab-group>
                    <mat-tab label="Danh sách người dùng"><app-list-user></app-list-user></mat-tab>
                    <mat-tab label="Danh sách bài hát">
                        <app-list-song></app-list-song> </mat-tab>
                    <mat-tab label="Danh sách ca sĩ"> <app-singer-list></app-singer-list> </mat-tab>
                    <mat-tab  label="Danh sách thể loại"> Chức năng đang bảo trì ! Vui lòng quay lại sau! </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>




