<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 50px">
            <mat-card style="margin: 50px 0">
                <form class="form_register" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <!--USERNAME-->
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>Tên Đăng Nhập</mat-label>
                        <input matInput placeholder="Enter your username" name="username"  [(ngModel)]="form.username" #username="ngModel"  required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">Tên không được bỏ trống.</mat-error>
                    </mat-form-field><br>
                    <!--PHONENUMBER-->
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>Số Điện Thoại</mat-label>
                        <input  matInput placeholder="Enter your phoneNumber" name="phoneNumber"  [(ngModel)]="form.phoneNumber" #phoneNumber="ngModel" minlength="3" maxlength="50" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="phoneNumber.hasError('required')">Số điện thoại không được bỏ trống.</mat-error>
                        <mat-error *ngIf="phoneNumber.hasError('minlength')">Số điện thoại tối thiểu 3 kí tự.</mat-error>
                    </mat-form-field><br>
                    <!--PASSWORD-->
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>Mật Khẩu</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="form.password" #password="ngModel" minlength="6" maxlength="30" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">Mật khẩu không được bỏ trống.</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Mật khẩu tối thiểu 6 kí tự</mat-error>
                    </mat-form-field><br>
                    <!--PASSWORD-->
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>Nhập Lại Mật Khẩu</mat-label>
                        <input matInput [type]="hide1 ? 'password' : 'text'" name="re_password" [(ngModel)]="form.re_password" #re_password="ngModel" minlength="6" maxlength="30" required>
                        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="re_password.hasError('required')">Mật khẩu không được bỏ trống.</mat-error>
                        <mat-error *ngIf="re_password.hasError('minlength')">Mật khẩu tối thiểu 6 kí tự</mat-error>
                    </mat-form-field><br>
                    <button  style="width: 400px" mat-stroked-button class="mat-button-toggle-group btn-outline-primary">ĐĂNG KÍ
                        <mat-icon matSuffix>how_to_reg</mat-icon>
                    </button>
                </form>

            </mat-card>
        </div>
    </div>
</div>
